spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_tracker
    username: expense_user
    password: expense_pass
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true  
    
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

logging:
  level:
    org.flywaydb: INFO
